# Default ignored files
/../../ QuTiP Simulation /.idea/shelf/
/../../ QuTiP Simulation /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ QuTiP Simulation /.idea/httpRequests/
# Zeppelin ignored files
/../../ QuTiP Simulation /.idea/ZeppelinRemoteNotebooks/
